<section class="users">
<%= link_to "Sign Out", destroy_user_session_path, 'data-turbo-method': :delete, class: 'logout'%>
  <ul>
  <% @users.each do |user| %>
  <li>
    <%= link_to user_path(user.id) do %>
    <%= render "user", user: user %>
    <% end %>
    <li>
  <% end %>
  </ul>
</section>

 