<ul class="comments flex-one">
  <% @post.comments.each do |comment| %>
  <li><%= comment.author.name %>: <%= comment.text%>
     <%= button_to "Delete", user_post_comment_path(comment_id: comment.id,  post_id: @post.id, user_id: @post.author.id), :method => :delete if can? :destroy, Comment %>
  </li>
  <% end %>
</ul>
